---
import CountryNav from "../components/CountryNav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <main class="bg-slate-200 h-screen">
      <section
        class="container px-5 py-10 md:mx-auto md:flex md:flex-col md:items-center md:pt-20 text-xl"
      >
        <p class="mb-3">404 - Page not found</p>
        <div>
          Go to the pages for<CountryNav country={"xx"} />
        </div>
      </section>
    </main>
  </main>
</Layout>
