---
import Layout from "../layouts/Layout.astro";
import Table from "../components/Table.astro";
import type { Hashtag } from "../lib/types";

import { getAllHashtags } from "../db/client.ts";

const hashtags = await getAllHashtags();

function isHighGrowthHashtag(hashtag: Hashtag): boolean {
  const interestMinus1 = getHashtagInterestAtPosition(hashtag, -1);
  if (interestMinus1 < 100) {
    return false;
  }

  const interestMinus2 = getHashtagInterestAtPosition(hashtag, -2);
  const changeMinus1 = interestMinus1 - interestMinus2;
  if (changeMinus1 < 20) {
    return false;
  }

  const interestMinus3 = getHashtagInterestAtPosition(hashtag, -3);
  const changeMinus2 = interestMinus2 - interestMinus3;
  if (changeMinus2 > changeMinus1) {
    return false;
  }

  return true;
}

function getHashtagInterestAtPosition(hashtag: Hashtag, input: number): number {
  return hashtag.hashtagTrend.slice(input)[0].interest;
}

const hightGrowthHashtags = hashtags.filter((hashtag) =>
  isHighGrowthHashtag(hashtag)
);

function getLatestUpdateDate(hashtag: Hashtag[]): string {
  const date = hashtag[0].createdAt;
  return date.toLocaleString("default", { day: "numeric", month: "short" });
}
---

<Layout>
  <main class="bg-slate-200">
    <section
      class="container px-5 py-10 md:mx-auto md:flex md:flex-col md:items-center md:pt-20"
    >
      <h1 class="font-bold text-4xl">TikTok hashtags surging in popularity</h1>
      <p class="mt-5">
        In the US; Last updated on {getLatestUpdateDate(hashtags)}
      </p>
      <p>
        Have questions or suggestions?{" "}
        <a href="#contact" class="text-blue-700"> Click here</a>{" "}
        to contact me.
      </p>
    </section>

    <section
      class="container md:mx-auto md:flex md:flex-row md:justify-center pb-10"
    >
      <Table hashtags={hightGrowthHashtags} />
    </section>

    <section
      id="contact"
      class="container mx-auto flex flex-row justify-center pb-10"
    >
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLScuwdxUrjGml1aL1Ppnf2pIiuvHz3vXVDU7FKwF0lieToojJw/viewform?embedded=true"
        width="640"
        height="700"
      >
        Loading…
      </iframe>
    </section>
  </main>
</Layout>
