---
import Layout from "../layouts/Layout.astro";
import CountryNav from "../components/CountryNav.astro";
---

<Layout>
  <main>
    <main class="bg-slate-200 h-screen">
      <section
        class="container px-5 py-10 md:mx-auto md:flex md:flex-col md:items-center md:pt-20 text-xl"
      >
        <h1 class="font-bold text-4xl">TikTok Hashtags Going Viral Today</h1>
        <div class="mt-12">
          Filter for <CountryNav country={"xx"} />. You'll get charts showing
          why those hashtags are trending today.
        </div>
        <!-- show a list of all hashtags, with views, posts, and corresponding countries -->
      </section>
    </main>
  </main>
</Layout>
