---
import Layout from "../../layouts/Layout.astro";
import Table from "../../components/Table.astro";
import CountryNav from "../../components/CountryNav.astro";
import ContactForm from "../../components/ContactForm";

import type { Hashtag } from "../../lib/types";

import { getHashtagsForCountry } from "../../db/client";
import { compareHashtags, CountryMap } from "../../lib/helpers";

const { country } = Astro.params;

if (country === undefined) {
  return Astro.redirect("/countries/us");
}

const pathCountryCode = country.toLowerCase();

const mappedCountry = CountryMap.get(pathCountryCode);

if (mappedCountry === undefined) {
  return Astro.redirect("/countries/us");
}

const hashtags = await getHashtagsForCountry(mappedCountry.tiktokCode);

const hightGrowthHashtags = hashtags.sort((a, b) => compareHashtags(b, a));

function getLatestUpdateDate(hashtag: Hashtag[]): string {
  const date = hashtag[0].createdAt;
  return date.toLocaleString("default", { day: "numeric", month: "short" });
}
---

<Layout>
  <main class="bg-slate-200 py-10">
    <section
      class="container px-5 pb-10 md:pt-10 md:mx-auto md:flex md:flex-col md:items-center"
    >
      <h1 class="font-bold text-4xl">TikTok hashtags surging in popularity</h1>
      <div class="mt-5">
        In <CountryNav country={pathCountryCode} />; Last updated on {
          getLatestUpdateDate(hashtags)
        }
      </div>
      <p>
        Have questions or suggestions?{" "}
        <a href="#contact" class="text-blue-700 underline">Contact us</a>
      </p>
    </section>

    <section
      class="container md:mx-auto md:flex md:flex-row md:justify-center pb-10"
    >
      <Table hashtags={hightGrowthHashtags} />
    </section>

    <section
      class="container px-5 text-xl md:mx-auto md:flex md:flex-col md:items-center mt-5"
      id="contact"
    >
      <div class="max-w-[40rem]">
        <h2 class="font-bold text-3xl md:text-center pb-5 md:pb-10">
          Questions/feedback? Send them over!
        </h2>
        <ContactForm client:load />
      </div>
    </section>
  </main>
</Layout>
