---
import HeaderCell from "./HeaderCell.astro";
import LandingPageBodyRow from "./LandingPageBodyRow.astro";

import type { Hashtag } from "../lib/types";

interface Props {
  hashtags: Hashtag[];
}

const { hashtags } = Astro.props;
---

<table class="shadow-xl rounded table-fixed w-full md:w-auto">
  <thead>
    <tr>
      <HeaderCell class="hidden md:table-cell">Hashtag</HeaderCell>
      <HeaderCell class="hidden md:table-cell">Country</HeaderCell>
      <HeaderCell class="hidden md:table-cell">Posts / Views</HeaderCell>
    </tr>
  </thead>
  <tbody class="bg-white">
    {hashtags.map((hashtag) => <LandingPageBodyRow hashtag={hashtag} />)}
  </tbody>
</table>
