<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <script
      async
      src="https://umami.app.taralys.com/hello"
      data-website-id="adba9fc8-038d-4b8f-99eb-4f6d0925aa73"></script>
    <meta name="generator" content={Astro.generator} />
    <title>Viral TikTok Hashtags</title>
    <meta
      name="description"
      content="Trending hashtags that are most likely to go viral on TikTok today."
    />
  </head>
  <body>
    <div class="bg-purple-300 text-center py-3">
      This website is for sale. Send me a message <a
        href="https://linkedin.com/in/mihailmarian"
        class="underline inline-block">on LinkedIn</a
      > to talk more.
    </div>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
